.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.full-name {
  order: 1;
  width: 100%;
  margin-bottom: 30px;
}
.name-wrapper {
  margin-right: 8px;
  display: inline-block;
}

.patient-data {
  order: 2;
  width: 60%
}

.patient-data tr {
  height: 40px;
  line-height: 40px;
}

.patient-data td {
  padding: 0 20px;
}

.patient-data tr:nth-child(odd) {
  background: #FAFAFA;
}

.label {
  text-transform: uppercase;
  color: #B5B9BC;
}
.name-wrapper {
  font-size: 0.8em;
}

.name-wrapper .name {
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
}

.name-wrapper .name.first {
  text-decoration: underline;
}

.profile-pic {
  order: 3;
  width: 35%;
  line-height: 200px;
  text-align: center;
  background: #FAFAFA;
}
@media (max-width: 900px) {

  .container {
    flex-direction: column;
    align-items: center;
    width: 90%
  }

  .full-name {
    width: auto;
  }

  .patient-data {
    width: 100%;
  }

  .profile-pic {
    width: 60%;
  }

  .patient-data .label {
    text-align: right;
  }

  .profile-pic {
    order: 0;
    margin-bottom: 20px;
  }
}
