PROFILE
<!--<div class="ui grid stacking container">-->
  <!--<div class="row">-->
    <!--<div class="three wide column first name-wrapper">-->
      <!--<div class="label">First name</div>-->
      <!--<div class="name">{{patient?.firstName}}</div>-->
    <!--</div>-->
    <!--<div class="three wide column name-wrapper">-->
      <!--<div class="label">Middle name</div>-->
      <!--<div class="name">{{patient?.middleName}}</div>-->
    <!--</div>-->
    <!--<div class="three wide column name-wrapper">-->
      <!--<div class="label">Last name</div>-->
      <!--<div class="name">{{patient?.lastName}}</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<table class="ui ten wide very simple striped table">-->
    <!--<tr>-->
      <!--<td class="label">Gender</td>-->
      <!--<td class="value">{{patient?.gender}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td class="label">Date of birth</td>-->
      <!--<td class="value">{{patient?.birthDate}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td class="label">SSN</td>-->
      <!--<td class="value">{{patient?.ssn}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td class="label">Patient Id</td>-->
      <!--<td class="value">{{patient?.id}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td class="label">Doctor</td>-->
      <!--<td class="value">{{patient?.doctor.lastName}}, {{patient?.doctor.firstName}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td class="label">Medical Record</td>-->
      <!--<td class="value">{{patient?.medicalRecord}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td class="label">Last Visit</td>-->
      <!--<td class="value">{{patient?.lastVisit}}</td>-->
    <!--</tr>-->
  <!--</table>-->

  <!--<div class="ui six wide">-->
    <!--image here-->
  <!--</div>-->
<!--</div>-->
