<div class="container">

  <div class="full-name">
    <div class="name-wrapper">
      <div class="label">First name</div>
      <div class="name first">{{patient?.firstName}}</div>
    </div>
    <div class="name-wrapper">
      <div class="label">Middle name</div>
      <div class="name">{{patient?.middleName}}</div>
    </div>
    <div class="name-wrapper">
      <div class="label">Last name</div>
      <div class="name">{{patient?.lastName}}</div>
    </div>
  </div>

  <table class="patient-data">
    <tr>
      <td class="label">Gender</td>
      <td class="value">{{patient?.gender | capitalize}}</td>
    </tr>
    <tr>
      <td class="label">Date of birth</td>
      <td class="value">{{patient?.birthDate | date}}</td>
    </tr>
    <tr>
      <td class="label">SSN</td>
      <td class="value">{{patient?.ssn}}</td>
    </tr>
    <tr>
      <td class="label">Patient Id</td>
      <td class="value">{{patient?.id}}</td>
    </tr>
    <tr>
      <td class="label">Doctor</td>
      <td class="value">{{patient?.doctor.lastName}}, {{patient?.doctor.firstName}}</td>
    </tr>
    <tr>
      <td class="label">Medical Record</td>
      <td class="value">{{patient?.medicalRecord}}</td>
    </tr>
    <tr>
      <td class="label">Last Visit</td>
      <td class="value">{{patient?.lastVisit | date}}</td>
    </tr>
  </table>

    <img class="profile-pic" src="{{patient?.pictureUrl}}">

</div>
