header {
  width: 100%;
  display: flex;
  align-items: center;
}

header h1 {
  color: #9DD22D;
  text-transform: uppercase;
  display: inline-block;
  margin: 1rem auto;
  border-bottom: 2px solid #9DD22D;
  padding-bottom: 0.25rem;
  font-size: 1.2rem;
}


form {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

form .details {
  width: 80%;
  margin: 0 auto;
}

.field.notes {
  width: 100%;
}

.buttons {
  margin: 3rem auto;
}

.buttons button {
  margin-right: 1rem;
}

.buttons button:last-child {
  margin-right: 0;
}

@media (max-width: 600px){
  form {
    width: 90%;
  }

  form .details {
    width: 100%;
  }
}
