<div class="top">
  <h2>{{currentPatient?.firstName}} {{currentPatient?.lastName}}</h2>
  <a class="button primary" routerLink="./new"><i class="fa fa-plus"></i> New entry</a>
</div>

<kendo-grid
  [data]="entries | async">
  <ng-template [ngIf]="narrow">
    <kendo-grid-column property="date" width="120">
      <ng-template kendoCellTemplate let-dataItem>
        <div class="cell-wrapper">
          <div class="date">{{dataItem.date | date}}</div>
          <div class="appointment">{{dataItem.appointmentType | capitalize}}</div>
          <div class="doctor-label">Doctor</div>
          <div class="doctor">{{dataItem.doctor.lastName}}, {{dataItem.doctor.firstName}}</div>
        </div>
      </ng-template>
    </kendo-grid-column>
  </ng-template>
  <ng-template [ngIf]="!narrow">
    <kendo-grid-column property="date" width="120">
      <ng-template kendoHeaderTemplate>
        Date
      </ng-template>
      <ng-template kendoCellTemplate let-dataItem>
        <strong>{{dataItem.date | date}}</strong>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column property="appointment" width="120">
      <ng-template kendoHeaderTemplate>
        Appointment
      </ng-template>
      <ng-template kendoCellTemplate let-dataItem>
        {{dataItem.appointmentType | capitalize}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="doctor.lastName" width="150">
      <ng-template kendoHeaderTemplate>
        Doctor
      </ng-template>
      <ng-template kendoCellTemplate let-dataItem>
        {{dataItem.doctor.lastName}}, {{dataItem.doctor.firstName}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column property="entry">
      <ng-template kendoHeaderTemplate>
        Notes
      </ng-template>
      <ng-template kendoCellTemplate let-dataItem>
      <span class="journal-entry">
        {{dataItem.entry}}
      </span>
      </ng-template>
    </kendo-grid-column>
  </ng-template>
  <ng-template kendoDetailTemplate let-dataItem>
    <section *ngIf="dataItem.entry">
      <h3>Notes</h3>
      <article>{{dataItem.entry}}</article>
    </section>
  </ng-template>
</kendo-grid>
