nav.details-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 16px;
}

nav.details-nav a {
  color: #B5B9BC;
  padding-bottom: 4px;
}

nav.details-nav a.active {
  color: #9DD22D;
  border-bottom: 2px solid #9DD22D;
}

nav.details-nav .sub-pages a {
  margin-right: 16px;
}

nav.details-nav .sub-pages a:last-child {
  margin-right: 0;
}

