:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

nav.details-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 50px;

}

nav.details-nav a {
  padding-bottom: 4px;
}

nav.details-nav .sub-pages a {
  color: #B5B9BC;
  margin-right: 16px;
}

nav.details-nav .sub-pages a.active {
  color: #9DD22D;
  border-bottom: 2px solid #9DD22D;
}

nav.details-nav .sub-pages a:last-child {
  margin-right: 0;
}

.content {
  flex: 1;
  overflow-y: scroll;
}

@media (max-width: 600px) {
  nav.details-nav .linktext {
    display: none;
  }
}
